header {
  display: grid;
  gap: 8px;
  padding-inline: 1.4rem;
  margin-inline: auto;
  margin-top: 73px;
  max-width: 1280px;
}


h1 {
  padding-left: 10px;
  color: var(--color-h1);
  font: var(--font-h1);
}

span {
  padding-left: 12px;
  padding-bottom: 4px;
  color: var(--color-span);
  font: var(--font-span);
}