.card1 {
  display: flex;
  gap: 60px;
  width: 1218px;
  height: 448px;
  margin-block: 43px;
  margin-inline: auto;
}

.card2 {
  display: flex;
  gap: 60px;
  width: 1218px;
  height: 448px;
  margin-block: 43px;
  margin-inline: auto;
}


figure {
  border: 0px solid var(--bg-color-fig);
  border-radius: 8px;
  margin-inline: auto;
  background-color: var(--bg-color-fig);
  figcapition {
    padding-inline: 32px;
  }

  h2 {
    padding-top: 15px;
    padding-inline: 20px;
    color: var(--color-h2);
  }

  p {
    padding-inline: 20px;
    padding-top: 24px;

    color: var(--color-p);
  }

}