.card1 {
  display: flex;
  gap: 60px;
  width: 1218px;
  height: 448px;
  margin-block: 43px;
  margin-inline: auto;
}

figure {
  border: 0px solid var(--bg-color-fig);
  border-radius: 8px;
  margin-inline: auto;
  background-color: var(--bg-color-fig);

  figcapition {
    padding-bottom: 2rem;
  }

  h2 {
    padding-block: 10px;
    padding-left: 10px;
    color: var(--color-h2);
  }

  p {
    padding-left: 10px;
    color: var(--color-p);
  }

}